.about-flex {
  display: flex;
}

.about-title {
  margin-left: 50px;
}
.about-title-2 {
  margin-left: 160px;
  font-weight: 700;
}

.pos {
  border-radius: 10px;
}

.icon {
  font-size: 30px;
}

.about-1st-img {
  margin-left: 100px;
  border: 10px solid rgb(235, 234, 234);
}
.about-2st-img {
  border: 10px solid rgb(235, 234, 234);
}

.about-p {
  font-weight: 700;
  color: gray;
}

.about-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 850px) {
  .about-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 32px;
  }

  .about-title {
    text-align: center;
    margin-left: -10px;
  }

  .about-title2 {
    text-align: center;
  }

  .about-title-2 {
    text-align: center;
    margin-left: 0px;
    margin-top: 30px;
  }

  .pos {
    margin-top: 30px;
  }

  .about-2st-img {
    width: 340px;
  }

  .about-flex {
    display: block;
  }

  .about-1st-img {
    width: 340px;
    margin-left: 0px;
  }
}
