

body{
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  background-color: #F2F3F8;
}

h1, h2, h3{
  font-family: 'Stardos Stencil', cursive;
}

::selection {
  /* color: red; */
  background: #FEFAC7;
}

.custom-khaki-color {
  color: #40461C;
}

.custom-btn-style{
  background: #40461C;
  color: white; 
}

.custom-btn-style:hover{
  background: #40461C;
  color: rgba(255, 255, 255, 0.829); 
}

